<div class="modal-header">
  <h4 class="modal-title">Choose Value!</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss(null)"
  ></button>
</div>
<div class="modal-body">
  <div class="grid pt-2 m-auto pb-2">
    <div *ngFor="let row of values" class="row g-0 row-height">
      <div
        *ngFor="let val of row"
        class="col border border-dark h-100 border-color-override"
      >
        <div class="cell" (click)="modal.close(val)">
          <span class="cell-content"> {{ val }} </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="modal.close(null)"
    ngbAutofocus
  >
    Close
  </button>
</div>
`
